<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi, <%= @user.name %></p>
<p>
  Your meal <%= @meal.name %> from restaurant <%= @meal.order.restaurant %> has arrived.
</p>
<p>
  Bon Appetit!
</p>
</body>
</html>
