<div class="row orders">
    <div class="col-md-3">
        <div class="row">
            <h3>Orders</h3>
            <form ng-submit="addNewOrder()" ng-show="showAddOrderOption()">
                <input ng-model="newOrder.restaurant" placeholder="restaurant">
                <input type="submit" value="Add order">
            </form>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-click="toggleOrdersTabs('active')" ng-class="{'active': ordersTabType == 'active'}"><a href="#">Active</a></li>
                <li ng-click="toggleOrdersTabs('history')" ng-class="{'active': ordersTabType == 'history'}"><a href="#">History</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="list-group orders-list">
                <div>
                    <a href="#" ng-repeat="(order_id, order) in currentOrders" ng-click="changeCurrentOrder(order_id)"
                       ng-class="{'active':  currentOrder == order}" class="list-group-item order-item">
                        {{ order.restaurant }} - {{ order.status }}
                        <div ng-click="showEditOrderOption()" class="btn btn-primary btn-xs">edit</div>
                        <div ng-click="destroyOrder(order_id)" class="btn btn-primary btn-xs">delete</div>
                    </a>
                    <form ng-submit="editOrder(currentOrder.id)" ng-show="editOrderClicked">
                        <input ng-model="currentOrder.restaurant" placeholder="restaurant">
                        <select ng-model="currentOrder.status" name="status">
                            <option value="in progress">in progress</option>
                            <option value="ordered">ordered</option>
                            <option value="delivered">delivered</option>
                            <option value="finalized">finalized</option>
                        </select>
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <h3>List of meals</h3>
        <form ng-submit="addNewMeal()" ng-show="showAddMealOption()">
            <!--Temporary field until there is user authentication implemented.-->
            <input ng-model="newMeal.name" placeholder="meal">
            <input ng-model="newMeal.price" placeholder="price">
            <input type="submit" value="Add meal">
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Meal</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="meal in currentOrder.meals">
                <td>{{ users[meal.user_id].name }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
