<div class="row orders">
    <div ng-show="showError" class="error">
        <p>{{ error }}</p>
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3>Orders</h3>
            <form ng-submit="addNewOrder()" ng-show="showAddOrderForm()">
                <input ng-model="newOrder.restaurant" placeholder="restaurant">
                <input type="submit" value="Add order">
            </form>
            <div ng-show="ordersTabType == 'active'">
                Status filter
                <select ng-model="showStatus" name="filter-status">
                    <option value="">none</option>
                    <option value="in progress">in progress</option>
                    <option value="ordered">ordered</option>
                    <option value="delivered">delivered</option>
                </select>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-click="toggleOrdersTabs('active')" ng-class="{'active': ordersTabType == 'active'}"><a href="#">Active</a></li>
                <li ng-click="toggleOrdersTabs('history')" ng-class="{'active': ordersTabType == 'history'}"><a href="#">History</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="list-group orders-list">
                <div>
                    <a href="#" ng-repeat="(order_id, order) in currentOrders | statusFilter:this.showStatus" ng-click="changeCurrentOrder(order_id)"
                       ng-class="{'active':  currentOrder == order}" class="list-group-item order-item">
                        {{ order.restaurant }} - {{ order.status }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="order">
            <h1>Order</h1>
        </div>
        <div class="row">
            <div ng-hide="editOrderClicked" class="order-show">
                <div class="col-md-6">Restaurant: {{ currentOrder.restaurant }}</div>
                <div class="col-md-3">Status: {{ currentOrder.status }}</div>
                <div class="col-md-2">
                    <div ng-click="toggleEditOrderForm()" class="btn btn-primary btn-xs">edit</div>
                    <div ng-click="destroyOrder()" class="btn btn-primary btn-xs">delete</div>
                </div>
            </div>
            <div ng-show="editOrderClicked" class="order-edit">
                <form ng-submit="editOrder()" ng-show="editOrderClicked">
                    <div class="col-md-6">Restaurant:
                        <input ng-model="currentOrderEdit.restaurant" placeholder="restaurant">
                    </div>
                    <div class="col-md-3">Status:
                        <select ng-model="currentOrderEdit.status" name="status">
                            <option value="in progress">in progress</option>
                            <option value="ordered">ordered</option>
                            <option value="delivered">delivered</option>
                            <option value="finalized">finalized</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-primary btn-xs" type="submit" value="save">
                        <div ng-click="toggleEditOrderForm()" class="btn btn-primary btn-xs">cancel</div>
                    </div>
                </form>
            </div>
        </div>
        <h3>List of meals</h3>
        <form ng-submit="addNewMeal()" ng-show="showAddMealForm()">
            <input ng-model="newMeal.name" placeholder="meal">
            <input ng-model="newMeal.price" placeholder="price">
            <input type="submit" value="Add meal">
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Meal</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="meal in currentOrder.meals">
                <td>{{ users[meal.user_id].name }}</td>
                <td ng-hide="showMealEditForm(meal)">{{ meal.name }}</td>
                <td ng-hide="showMealEditForm(meal)">{{ meal.price }}</td>
                <td ng-show="showMealEditForm(meal)"><input ng-model="currentMeal.name" placeholder="meal"></td>
                <td ng-show="showMealEditForm(meal)"><input ng-model="currentMeal.price" placeholder="price"></td>
                <td>
                    <div ng-hide="editMealClicked">
                        <div ng-click="toggleMealEditForm(meal)" class="btn btn-primary btn-xs">edit</div>
                        <div ng-click="destroyMeal(meal.id)" class="btn btn-primary btn-xs">delete</div>
                    </div>
                    <div ng-show="showMealEditForm(meal)">
                        <div ng-click="editMeal(meal.id)" class="btn btn-primary btn-xs">save</div>
                        <div ng-click="toggleMealEditForm(meal)" class="btn btn-primary btn-xs">cancel</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
